body {
    font-style: serif;
    background: greenyellow;
}
/* Reset some default styles */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}



/* Global styles */
body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #f0f0f0;
    height: 1000px;
}

svg {
    background-color: transparent;
}

h2, p{
    margin: 25px;
}

#main{
    display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

#main-graph {
    padding: 20px;
}

.logo {
    width: 200px; /* Set a specific width */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
}

/* Navbar styles */
#navbar {
    background-color: #00FF59;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Center-align tabs and push logo to the left */
    align-items: center; /* Vertically center elements */
    padding: 10px 20px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display tabs in a row */
}

#navbar li {
    margin-right: 20px; /* Adjust the spacing between tabs */
    text-align: center;
}

#navbar li:last-child {
    margin-right: 0; /* Remove margin for the last tab */
}

#navbar li a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
}

h1 {
    text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
}

.tippy-box table {
	font-size: 10pt;
	color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
}

/* Page styles */
.container {
    text-align: center;
    padding: 20px;
}

.background-image {
    background-image: url('./assets/background.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
    height: 800px; 
}

.page-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.tippy-box {
	background-color: #000000;
	color: #ffffff;
	font-family: sans-serif;
	padding: 5px 8px;
	border-radius: 5px;
	opacity: 0.8;
	font-weight: bold;
}